.imageBorder {
    border-radius: 25px;
    border: 3px solid #403D39;
    background-color: #686963; 
    padding: 10px; 
    width: 200px;
    height: 200px;   
}

.mainText {
    color: #403D39;   
}

.highText {
    color: #000000;   
}

.rowFrame {
    background-color: #FFFFFF ;
    padding-left: 20px;
    border: 2px solid #777;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;   
}

@font-face {
   font-family: ProximaNovaExtraBold; 
   src: url('/fonts/ProximaNova-Extrabold.otf');
} 

@font-face {
   font-family: ProximaNovaBold; 
   src: url('/fonts/ProximaNova-Bold.otf');
} 

@font-face {
   font-family: ProximaNovaSemiBoldItalic; 
   src: url('/fonts/ProximaNova-SemiboldItalic.otf');
} 

@font-face {
   font-family: ProximaNovaRegular; 
   src: url('/fonts/ProximaNova-Regular.otf');
} 